.app-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url("./assets/images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 483px 100vh;
  padding: 2rem;
  gap: 8rem;
  padding-left: 10rem;
}

@media (max-width: 1024px) {
  .app-container {
    padding-left: 5rem;
    gap: 4rem;
    background-size: 400px 100vh;
  }
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
    background-image: url("./assets/images/bg-main-mobile.png");
    background-position: top center;
    background-size: 100% 240px;
    padding: 0 1.5rem 1.5rem 1.5rem;
    gap: 0;
    align-items: stretch;
    justify-content: flex-start;
  }
}
