:root {
  /* Colors */
  --white: #ffffff;
  --light-grey: #dfdee0;
  --purplish-grey: #8e8593;
  --deep-violet: #21092f;
  --very-dark-violet: #140625;
  --red: #ff5252;
  --gradient-start: #6348fe;
  --gradient-end: #610595;

  /* Font */
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  color: var(--deep-violet);
  background-color: var(--white);
}

#root {
  min-height: 100vh;
  width: 100%;
}

button {
  font-family: inherit;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}
